
  <!-- Start main-content -->
  <div class="main-content">
    <!-- Section: home -->
    <section>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 pdng_0">
					<div class="col-sm-6">
						<div class="login_main">
							<div class="login_dark_back">
								<p class="login_title_p">Login</p>
							</div>
							<div class="login_light_back">
								<div class="col-sm-12 pdng_0 mrgn_btm_25px">
								  <div class="input-group">
									<span class="input-group-addon" style=""><i class="fa fa-user"></i></span>
									<input type="text" required="" placeholder="Enter Name" class="form-control" name="form_name">
								  </div>
								</div>
								<div class="col-sm-12 pdng_0 mrgn_btm_25px">
									<div class="input-group">
										<span class="input-group-addon" style=""><i class="fa fa-lock"></i></span>
										<input type="text" required="" placeholder="Enter Password" class="form-control" name="form_name">
									</div>
								</div>
								<div class="col-sm-12 pdng_0">
									<div class="form-group">
										<div class="col-xs-8 pdng_0">
											<a class="login_forgot" href="#">Forgot Password?</a>
										</div>
										<div class="col-xs-4 pdng_0">
											<button type="submit" class="btn btn-dark btn-theme-colored btn-flat pull-right" data-loading-text="Please wait...">Login</button>
										</div>
									</div>
								</div>
							</div>
							<div class="login_face_gplus">
								<div class="col-sm-4 col-xs-6 pdng_lft_0">
									
								</div>
								<div class="col-sm-4 col-xs-6 pdng_lft_0">
									
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-1" style="padding-right: 0px;">
						<div class="login_or_div">
							<span class="or_spn">OR</span>
						</div>
					</div>
					<div class="col-sm-5">
						<!--<img class="login_img_mrgn" src="images/login.jpg"/>-->
						<div class="login_rgt_mdl">
							<div class="col-sm-12 pdng_0 mrgn_btm_10per">
								<a class="" href="#">
									<img src="images/login_with_fb.png"/>
								</a>
							</div>
							<div class="col-sm-12 pdng_0">
								<div class="login_new_acnt">
									<a class="" href="#">
										<img src="images/create_new_account.png"/>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </section>
  
  <!-- end main-content -->